<div class="card bg-light mb-3 mt-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">

        <button class="btn btn-danger my-2" routerLink="/examenes">volver</button>

        <form>
            <div class="form-group col-md-6">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="model.nombre">
                <div class="alert alert-danger" *ngIf="error?.nombre">
                    {{error.nombre}}
                </div>
            </div>

            <div class="form-group">
                <label for="asignauraPadre">Asignatura</label>
                <select [compareWith]="compararAsignatura" (change)="cargarHijos()" name="asignauraPadre" id="asignauraPadre" [(ngModel)]="model.asignaturaPadre" class="form-control">
                <option [ngValue]="undefined">---Seleccionar una asignatura---</option>
                <option *ngFor="let asignatura of asignaturaPadre" [ngValue]="asignatura">{{asignatura.nombre}}</option>
            </select>
                <div class="alert alert-danger" *ngIf="error?.asignaturaPadre">
                    {{error.asignaturaPadre}}
                </div>
            </div>

            <div class="form-group">
                <label for="asignaturaHija">Asignatura Hija</label>
                <select [compareWith]="compararAsignatura" name="asignaturaHija" id="asignaturaHija" [(ngModel)]="model.asignaturaHija" class="form-control">
                <option [ngValue]="undefined">---Seleccionar una asignatura---</option>
                <option *ngFor="let asignatura of asignaturaHija" [ngValue]="asignatura">{{asignatura.nombre}}</option>
            </select>
                <div class="alert alert-danger" *ngIf="error?.asignaturaHija">
                    {{error.asignaturaHija}}
                </div>
            </div>

            <button (click)="agregarPregunta()" class="btn btn-light btn-lg my-3">Agregar Pregunta</button>

            <div class="form-group" *ngFor="let pregunta of model.preguntas;let i = index">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Pregunta {{i+1}}</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" value="{{pregunta.texto}}" class="form-control" (change)="asignarTexto(pregunta,$event)">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-danger btn-sm" (click)="eliminarPregunta(pregunta)">X</button>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <button type="button" (click)="model.id? editar():crear()" class="btn btn-primary">{{model.id? 'Editar':'Crear'}}</button>
            </div>
        </form>
    </div>
</div>